* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth ;
}

h1 {
  position: fixed;
  color: rgb(255, 51, 1);
  padding: 12px 80px;
  font-family: CustomFont, Arial, sans-serif;
  font-size: 20px;
  top: 3px;
  left: -2px;
  
}

h6 {
color: rgb(255, 51, 1);
font-family: CustomFont, Arial, sans-serif;
font-size: 20px;
position: relative;
top: -38px;
left: 75px;

}

.btn-1 {
  background-color: rgb(255, 51, 1);
  color: white;
  border: none;
  cursor: grab;
  border-radius: 30px;
  padding: 12px 30px;
  position: relative;
  float: right;
  margin-right: 165px;
  margin-top: 35px;

}

.btn-1:hover {
  background-color: white;
  color:rgb(255, 51, 1) ;
}

.btn-2 {
  background-color: rgb(255, 51, 1);
  color: white;
  border: none;
  cursor: grab;
  border-radius: 30px;
  padding: 12px 30px;
  float: left;
  margin-left: 160px;
  margin-top: 35px;
}

.btn-2:hover {
  background-color: white;
  color:rgb(255, 51, 1) ;
}

.btn-3 {
  background-color:rgb(255, 51, 1);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-3:hover {
  background-color: white;
  color:rgb(255, 51, 1) ;
}

section#-300 {
  height: 20px;
  position: relative;
}

section#logo {
    position: fixed;
    top: -3px;
    left: 3px;
    z-index: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0;
    overflow: hidden;
    background: transparent;
    min-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 12;
  }
  
  .links {
    float: right;
  }
  
  .links a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  .links a:hover {
    background-color: rgb(255, 51, 1);
  }

  section#home {
    position: fixed;
    top: 90%;
    left: 0%;
  }

    .about-us {
    max-width: 960px;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: -100px;
    color: white;
  }

  .parallax-window {
    min-height: 800px;
    background: transparent;
    min-height: 500px;
    position: relative;
    top: 800px;
}

.title {
    position: relative;
    top: 115px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
  background-color: #23272a;
  position: relative;
  top: 800px;
  min-height: 200px;
}

.copyright {
  text-align: center;
  position: relative;
  top: 45px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.socials {
  text-align: center;
  position: relative;
  top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.socials-2 { 
  text-align: center;
  position: relative;
  top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-1 {
  text-align: center;
  color: white;
  position: relative;
  font-size: 30px;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.Aircraft {
  color: white;
  text-align: center;
  font-size: 70px;
  position: relative;
  top: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.Home-Page {
  color: white;
}

.Text-2 {
  color: white;
  font-size: 70px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  top: 200px;
  left: 100px;
  z-index: 5;

}

.Text-3 {
  color: #23272a;
  position: absolute;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  top: 310px;
  left: 155px;
  font-size: 25px;
}

.B300 {
  position: relative;
  text-align: center;
  top: 150px;
  font-size: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


/* Style buttons */

.B200 {
  position: relative;
  text-align: left;
  margin-left: 50px;
  top: 90px;
  font-size: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}




.B200f {
  position: relative;
  text-align: right;
  margin-right: 50px;
  top: 35px;
  font-size: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


.Requirements-1 {
  position: relative;
  text-align: center;
  top: 300px;
  font-size: 25px;
  color: white;
}

.dev-list {
  position: relative;
  top: 300px;
  text-align: center;
  color: white;
}

.staff-list {
  position: relative;
  top: 0px;
  text-align: center;
  color: white;
}

.Requirements-2 {
  position: relative;
  text-align: center;
  top: 0px;
  font-size: 25px;
  color: white;
}

.Staff-App {
  position: relative;
  text-align: center;
  top: 100px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 51, 1); 
}

.Dev-App {
  position: relative;
  text-align: center;
  top: 305px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 51, 1); 
}

.Main-Text {
  text-align: center;
  color: white;
  position: relative;
  top: 100px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-4 {
  background-color:rgb(255, 51, 1) ;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  cursor: grab;
  position: relative;
  top: 210px;
  left: 100px;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn-4:hover {
  background-color: white;
  color:rgb(255, 51, 1)  ;
}

.btn-5 {
  background-color:transparent ;
  color: rgb(255, 51, 1);
  border-color: rgb(255, 51, 1);
  border-style: solid;
  border-radius: 30px;
  padding: 12px 30px;
  cursor: grab;
  position: relative;
  top: 210px;
  left: 100px;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn-5:hover {
  background-color: rgb(255, 51, 1);
  color:white  ;
}

.btn-6 {
  background-color:rgb(255, 51, 1);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  margin: 0;
  position: absolute;
  top: 350%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section#Dev-App {
  height: 50px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

section#Staff-app {
  height: 50px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}


/* Darker background on mouse-over */
.btn-6:hover {
  background-color: white;
  color:rgb(255, 51, 1);
}

.btn-7 {
  background-color:rgb(255, 51, 1);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  margin: 0;
  position: absolute;
  top: 750%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Darker background on mouse-over */
.btn-7:hover {
  background-color: white;
  color:rgb(255, 51, 1);
}

